img{
    height: 140px;
    width: 140px;
}

.container-mother{
    width: 100%;
    height: 85vh;
    border: 2px solid yellow;
}

.grid-container{
    width: 100%;
    height: 100%;
    border: 2px solid blue;
    display: grid;
    grid-template-areas:
     "img data"
     "img data"
     "footer footer";
}

.box1{
    grid-area: img;
    border: solid 2px black;
}

.box2{
    grid-area: data;
    border: solid 2px black;
}

.box3{
    grid-area: footer;
    border: solid 2px black;
}

